/* Buttons
---------------------------------------------------------------------------------- */

/* TODO: cosmetic changes needed */
.source_btn {
    position:relative;

    display: inline-block;
    padding: 4px 17px;

    background-color:#65A7D6;
    border: #5B9ECB solid 1px;
    border-radius:3px;

    color:#fff;
    font-weight:normal;
    text-decoration:none;
    font-size: 12px;

    &:hover {
        background-color: #5B9ECB;
        }
    &:active {
        top:1px;
        }
    }

/* /Buttons
---------------------------------------------------------------------------------- */
