/* Grids
---------------------------------------------------------------------------------- */

.source_col-main {
    margin: 0 auto;
    padding: 0;
    max-width: @layout_col-main--max-width;
    box-sizing: content-box;
}

.source_col {
    display: inline-block;

    vertical-align: top;
    width: 33%;
    padding-right: 25px;

    box-sizing: border-box;

    &.__15 {
        width: 20%;
    }

    &.__14 {
        width: 24.5%;
    }

    &__23 {
        width: 66.2%;
    }

    &.__right {
        float: right;
        padding-right: 0;
    }

}

/* Justified layout
-------------------------------------------------- */

/* justified inline data    */
.jcol-l,
.jcol-r {
    display: inline-block;
    width: 50%;
    vertical-align: middle;

    text-align: left;
}

.jcol-r {
    text-align: right;
}

/* /Justified layout */

/* /Grids
---------------------------------------------------------------------------------- */
