/* Navigation
---------------------------------------------------------------------------------- */

.source_nav {
	white-space: nowrap;
	display: none;

	&.__loaded {
		display: block;
		}

    &:empty {
		display: none;
		}
	}

	@media all and (min-width: 990px) {
		.source_nav:before {
			content: '';
			display: inline-block;
			vertical-align: middle;
			height: 100%;
		}
	}

.source_nav_c {
	display: inline-block;
	vertical-align: top;
	border-radius: 10px;
	width: 100%;

	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;

	padding: 20px 21px 10px;
	background-color: #f1f2f3;
	}

.source_nav_ul {
	list-style: none;
	margin: 0;
	padding: 0;

	/*@media @media_min-step-m { min-height: 100px; }*/

    li:first-child {
		margin-top: 0;
		}

    a {
		display: block;
		}
	}

/* /Navigation
---------------------------------------------------------------------------------- */