<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="source-page-role" content="navigation">
    <title>404</title>

    <!-- Source default resources -->
    <link href="/source/assets/css/source.css" rel="stylesheet" data-source="core">
    <script src="/source/assets/js/require.bundle.js" data-source="core"></script>
    <script src="/source/assets/js/enter-the-source.js" data-source="core"></script>
    <!-- /Source default resources -->
</head>
<body>
    <div class="source_container">
        <%- header %>
        <div class="source_main source_col-main" role="main">

            <div class="source_catalog">
                <h2 class="source_catalog_title">404</h2>
                <div class="source_catalog_tx">Page not found</div>
            </div>

        </div>
        <%- footer %>
    </div>
</body>
</html>
