<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title><%= title %></title>
    <meta name="author" content="<%= author %>">

    <link href="/data/res/css/portal.css" rel="stylesheet">

    <!-- Demo default -->
    <link href="/core/css/core.css" rel="stylesheet">

    <!--[if lt IE 9]>
    <script src="/core/js/lib/html5shiv.js"></script><![endif]-->
    <script data-main="/core/js/source" src="/core/js/lib/require-jquery.js"></script>
    <!-- /Demo default -->

</head>
<body>
<div class="source_container">
    <div class="source_main source_col-main" role="main">
        <%- content %>
    </div>
</div>
</body>
</html>