<!DOCTYPE html>
<!--[if IE 7]>         <html class="ie7"> <![endif]-->
<!--[if IE 8]>         <html class="ie8"> <![endif]-->
<!--[if IE 9]>         <html class="ie9"> <![endif]-->
<!--[if gt IE 9]><!--> <html> <!--<![endif]-->
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="source-page-role" content="navigation">
    <title><%= info.title %></title>

    <!-- Source default resources -->
        <link href="/source/assets/css/source.css" rel="stylesheet">
        <script data-main="/source/assets/js/enter-the-source.js" src="/source/assets/js/require.bundle.js"></script>
    <!-- /Source default resources -->
</head>
<body>
    <div class="source_container">
        <%- header %>
        <div class="source_main source_col-main" role="main">
            <%- content %>
        </div>
        <%- footer %>
    </div>
</body>
</html>