/* Spec page block styles
---------------------------------------------------------------------------------- */

.some-code {
    font-size: 13px;
    }

/* /Spec page block styles
---------------------------------------------------------------------------------- */
