/* Autocomplete
---------------------------------------------------------------------------------- */
.autocomplete-wrapper {
    border: 1px solid #ccc;
    border-radius: 4px;
    background: #FFF;
    font-size: 12px;

    font-family: @font-family-main;
    line-height: 1.5;
    }

.autocomplete-suggestions {
    overflow: auto;

    margin-top: 1px;
    }

    .autocomplete-suggestions strong {
        font-weight: normal;
        text-shadow: 0 0 1px @light-gray;
        color: #00A0FE;
        }

    .autocomplete-suggestions span {
        color: @gray;
        }

.autocomplete-suggestion {
    padding: 4px 8px;
    padding-left: 28px;

    white-space: nowrap;
    overflow: hidden;
    max-width: 100%;

    text-overflow: ellipsis;
    cursor: pointer;
    }

    .autocomplete-suggestion > a {
        color: @black;
        text-decoration: none;
        }

.autocomplete-selected {
    background: @light-gray;
    }

    .autocomplete-selected:before,
    .autocomplete-show-all:hover:before,
    .autocomplete-show-all.__active:before {
        content: "►";
        color: @gray;
        margin: 0 6px 0 -18px;
        }

.autocomplete-show-all {
    background: @light-gray;
    }

    .autocomplete-show-all:hover,
    .autocomplete-show-all.__active {
        background: #d1d2d3;
        }

/* /Autocomplete
---------------------------------------------------------------------------------- */
