/* Catalog
---------------------------------------------------------------------------------- */

.source_section .source_catalog {
    padding: 0 20px 20px;
    border:1px solid #dfe2e4;
    border-radius:10px;
    }

.source_catalog {
    position: relative;
    margin-bottom: 20px;

    font-family: @font-family-main;
    font-size: @fz-size-m;
    line-height: 1.5;

    color: @gray !important;

    &_h2,
    h2 {
        line-height: 1.5 !important;
        font-size: 22px !important;
        color: @black !important;
        margin: 20px 0 5px 0 !important;
        font-weight: normal !important;

        a {
            color: @black;
            text-decoration: underline;

            &:hover {
                text-decoration: none;
                }
            }
        }

    &.__show-preview {
        .source_catalog_img {
            display: block;
            }

        .source_catalog_list_i {
            margin-bottom: 30px;
            }
        }
    }

.source_catalog_title {
    line-height: 1.5;

    a {
        text-decoration: underline;
        font-size: inherit;

        &:hover {
            color: @blue;
            }
        }
    }

.source_catalog_a:hover {
    text-decoration: none !important;

    .source_catalog_title {
        color: #fff;
        }
    }

.source_catalog > p,
.source_catalog_tx {
    margin: 0 0 20px !important;

    color: @gray !important;
    font-size: @fz-size-s !important;

    &.__2l { /* 2 line */
        min-height: 36px;
        }

    p {
        margin: 0 0 10px;
        }
    }

.source_subhead > p,
.source_subhead .source_catalog_tx {
    margin: 0 0 10px !important;
    min-height: 0;
    }

.source_catalog_list {
    list-style: none;
    margin: 0;
    padding: 0;
    }

.source_catalog_list_i {
    width: 30%;
    margin-right: 3% !important;
    display: inline-block;
    vertical-align: top;
    }

.source_catalog.__show-preview .source_catalog_list_i {
    vertical-align: baseline;
    }

@media (min-width: 1200px) {
    .source_catalog_list_i {
        width: 22%;
        margin-right: 3% !important;
        }
    }

.source_col .source_catalog_list_i { /* Context */
    width: 100%;
    display: block;
    }

.source_section .source_catalog_list_i {
    width: 47% !important;
  }

.source_catalog_a {
    position: relative;
    display: block;
    margin-left: -10px;
    padding: 5px 10px;

    font-size: @fz-size-m;
    text-decoration: none;

    a&:hover { //tag for weight
        text-decoration: none;
        background-color: @blue__hover !important;
        color: #fff;
        border-radius: 5px;

        .source_catalog_footer {
            color: #fff;
            }

        }
    }

.source_catalog_update-button,
.source_catalog_image-tumbler {
    // Reset
    background: none;
    border: none;
    padding: 0;
    display: inline;
    cursor: pointer;

    font-size: @fz-size-s;
    text-decoration: none;
    border-bottom: 1px dotted;
    color: #808080;

    &:hover {
        color: #303030;
        text-decoration: none;
        }
    }

.source_catalog_img {
    display: none;
    max-width: 100%;
    max-height: 60px;
    margin-bottom: 5px;
    border-radius: 2px;
    }

.source_catalog_footer {
    color: @gray;
    font-size: 11px;
    line-height: 1.5;
    text-decoration: none !important;
    }

.source_catalog_all {
    margin: 20px 0 0 0;

    a.source_a_bl {
        color: @gray;
        text-decoration: underline;

        &:hover {
            color: @black;
            }

        }
    }

.source_catalog-filter {
    float: right;
    margin-top: 10px;
    width: 24.5%;
    }

.source_sort-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
    color: #808080;
    }

.source_sort-list_li {
    display: inline-block;
    line-height: 1.5;

    font-size: @fz-size-s;
    }

.source_sort-list_a {
    font-size: @fz-size-s;
    text-decoration: none;
    border-bottom: 1px dotted;
    color: #808080;

    &:hover {
        color: #303030;
        text-decoration: none;
        }
    }

.source_sort-list_li.__active {
    color: #303030;

    &:after {
        content: "\25B2";
        font-size: 11px;
        display: inline-block;
        padding-left: 3px;
        }

    &.__forward:after {
        content: "\25BC";
        }

    .source_sort-list_a {
        color: #303030;
        }
    }
/* /Catalog
---------------------------------------------------------------------------------- */
