/* Modalbox
---------------------------------------------------------------------------------- */

.source_modal_box {
    background: #fff;
    }

    .source_modal_title {
        font-size: 22px;
        margin: 20px 0 5px 0;
        }

    .source_modal_close {
        position: absolute;
        top: 10px;
        right: 10px;

        color: #fff;
        border-radius: 30px;
        background: #605F61;
        font-size: 20px;
        display: inline-block;
        line-height: 0px;
        padding: 9px 3px;
        cursor: pointer;
        }

        .source_modal_close:before {
            content: "×";
            }

/* /Modalbox
---------------------------------------------------------------------------------- */