.source_modal_box {
    background: #fff;
    }

        .source_modal_tx {
            text-align: center;
            font-size: 22px;
            color: #333;
            margin: 20px 0 5px 0;
            font-weight: normal;
            }

        .source_modal_close {
            float: right;
            margin: 10px 15px 0 0;

            color: #fff;
            border-radius: 30px;
            background: #605F61;
            font-size: 20px;
            display: inline-block;
            line-height: 0px;
            padding: 9px 3px;
            cursor: pointer;
            }

            .source_modal_close:before {
                content: "×";
                }

.source_catalog_list.__search-res .source_catalog_list_i {
    width: 98%;
    margin: 5px 10px;
    }


