/* Search
---------------------------------------------------------------------------------- */

.source_search {
    display: inline-block;
    overflow: hidden;
    height: 28px;
    width: 100%;

    border: 1px solid #444;
    border-radius: 5px;
    vertical-align: top;
    }

    .source_search.__light {
        border-color: #ccc;
        }

    .source_search.__light input.source_search_it { /* Cascade for weight */
        background-color: #FFF;
        }

.source_container input.source_search_it { /* Cascade for weight */
    padding: 6px 8px;
    padding-left: 28px;
    height: 30px;
    margin: -1px 0 0 -1px;
    width: 101%;

    border: 0 none;
    line-height: 15px;
    background: #000 url(/source/assets/i/search.png) no-repeat 8px 50%;

    box-sizing: border-box;

    color: @gray;

    /* Resets */
    display: block;

    box-shadow: none;

    border-radius: 0;

    transition: none;

    font-weight: 400;
    font-family: @font-family-main;
    font-size: @fz-size-m;
    line-height: 1.5;

    vertical-align: middle;
    }

.source_container input.source_search_it:focus {
    background: #fff url(/source/assets/i/search.png) no-repeat 8px 50%;
    color: @black;
    }

/* /Search
---------------------------------------------------------------------------------- */
