<!--Custom users footer, overriding core footer -->

<footer class="source_footer">
    <div class="source_col-main">
        <div class="source_col">
            <h2>Команда Source</h2>
            <ul class="source_ul">
                <li><a class="source_a_l" href="http://rhr.me">Харитонов Роберт</a></li>
                <li><a class="source_a_l" href="http://twitter.com/ostroffsky">Островский Алексей</a></li>
                <li><a class="source_a_l" href="mailto:eugeny.horoshilov@odnoklassniki.ru">Хорошилов Евгений</a></li>
                <li><a class="source_a_l" href="mailto:juris.pukitis@odnoklassniki.ru">Пукитис Юрис</a></li>
                <li><a class="source_a_l" href="http://twitter.com/korochinskiy">Корочинский Антон</a></li>
            </ul>
        </div>
        <div class="source_col">
            <h2>Полезные ссылки</h2>
            <ul class="source_ul">
	            <!-- For search and navigation plugins -->
                <li><a class="source_a_l" href="/plugins/file_tree_generator/core/file_tree_generator.php">Обновить JSON навигации</a></li>
            </ul>
        </div>
    </div>
</footer>