<!--Custom users footer, overriding core footer -->

<footer class="source_footer">
    <div class="source_col-main">
        <div class="source_col">
            <h2>Sorcerers</h2>
            <ul class="source_ul">
                <li><a class="source_a_l" href="http://twitter.com/operatino_en">Robert Haritonov</a></li>
                <li><a class="source_a_l" href="http://twitter.com/ostroffsky">Alexey Ostrovsky</a></li>
                <li><a class="source_a_l" href="mailto:eugeny.horoshilov@odnoklassniki.ru">Eugeny Khoroshilov</a></li>
                <li><a class="source_a_l" href="mailto:juris.pukitis@odnoklassniki.ru">Juris Pukitis</a></li>
                <li><a class="source_a_l" href="http://twitter.com/korochinskiy">Anton Korochinsky</a></li>
            </ul>
        </div>
        <div class="source_col">
            <h2>Usefull links</h2>
            <ul class="source_ul">
	            <!-- For search and navigation plugins -->
                <li><a class="source_a_l" href="/plugins/file_tree_generator/core/file_tree_generator.php">Refresh navigation JSON</a></li>
            </ul>
        </div>
    </div>
</footer>