<!--Custom users header, overriding core header -->

<header class="source_header">

    <div class="source_col-main">
        <div class="source_col source_col__23">
            <a class="source_logo" href="/" title="Source"></a>

            <div class="source_header_nav">
                <a class="source_header_nav_a" href="#">Навигация</a>
                <div class="source_header_nav_cnt source_nav">
                    <ul class="source_nav_ul">
                        <li><a class="source_a_bl" href="/">Главная</a></li>
	                    <li><a class="source_a_bl" href="/examples">Документация</a></li>
	                    <li><a class="source_a_bl" href="/examples/base-en">Basic engine documentation</a></li>
	                    <li><a class="source_a_bl" href="/examples/base">Основная документация по движку</a></li>
                        <li><a class="source_a_bl" href="/examples/inner-page">Документация по внутренней странице</a></li>
                        <li><a class="source_a_bl" href="/examples/starting">Стартовый шаблон внутренней</a></li>
                    </ul>
                </div>
            </div>

        </div>
    </div>

</header>