/*
*
* Core styles, compiles to '../defaults.css'
*
* ! Modify with caution or use /user/css/user.css to override core styles !
*
*/
/* Variables
---------------------------------------------------------------------------------- */
/* Media
-------------------------------------------------- */
/* /Media */
/* Layout
-------------------------------------------------- */
/* /Layout */
/* /Variables
---------------------------------------------------------------------------------- *//* Reset
---------------------------------------------------------------------------------- */
html {
  overflow-y: scroll;
}
html,
body {
  padding: 0;
  margin: 0;
  height: 100%;
}
body {
  position: relative;
  min-width: 990px;
  font: 14px/1.5 Arial, Helvetica, sans-serif;
  background: #fff;
  color: #333;
}
/* Fonts
-------------------------------------------------- */
@media all and (min-width: 990px) {
  /* A font by Jos Buivenga (exljbris) -> www.exljbris.com */
  @font-face {
    font-family: 'Museo';
    src: url('fonts/museocyrl_500-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
  }
  @font-face {
    font-family: 'Museo Sans';
    src: url('fonts/museosanscyrl-500-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
  }
}
/* /Fonts */
/* Text decorations
-------------------------------------------------- */
.source_ul {
  margin: 0;
  padding: 0;
  margin-left: 18px;
  list-style: outside disc;
}
.source_ul li {
  margin: 5px 0;
}
/* /Text decorations */
/* Spec page resets
-------------------------------------------------- */
/* complex cascade for targeting only spec decorations, excluding .source_example blocks */
.source_catalog_tx a,
.source_main_nav a,
.source_info a,
.source_main > a,
.source_section > a,
.source_section > *:not(.source_example) > a,
.source_section > *:not(.source_example) > *:not(.source_example) > a,
.source_section > *:not(.source_example) > *:not(.source_example) > *:not(.source_example) > a {
  color: #4792D2;
  text-decoration: none;
}
.source_catalog_tx a:hover,
.source_main_nav a:hover,
.source_info a:hover,
.source_main > a:hover,
.source_section > a:hover,
.source_section > *:not(.source_example) > a:hover,
.source_section > *:not(.source_example) > *:not(.source_example) > a:hover,
.source_section > *:not(.source_example) > *:not(.source_example) > *:not(.source_example) > a:hover {
  color: #1c76c2;
  text-decoration: underline;
}
/* /Spec page resets */
/* /Reset
---------------------------------------------------------------------------------- *//* States
---------------------------------------------------------------------------------- */
.source__scrolled-down .source_header {
  opacity: 1;
}
@media all and (min-width: 990px) {
  .source__scrolled-down .source_header {
    opacity: .1;
  }
}
.source__scrolled-down .source_header:hover {
  opacity: 1;
}
/* /States
---------------------------------------------------------------------------------- *//* Togglers
---------------------------------------------------------------------------------- */
.source_slider_frame {
  position: absolute;
  right: 0;
  top: 0;
  display: block;
  margin: 0 auto;
  width: 50px;
  height: 20px;
  background-color: #f6f9fb;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-shadow: inset 0px 0px 4px 0 rgba(0, 0, 0, 0.25);
  -moz-box-shadow: inset 0px 0px 4px 0 rgba(0, 0, 0, 0.25);
  box-shadow: inset 0px 0px 4px 0 rgba(0, 0, 0, 0.25);
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.source_slider_button {
  display: block;
  width: 30px;
  height: 20px;
  line-height: 20px;
  background: #EDF2F7;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -webkit-transition: all 0.25s ease-in-out;
  -moz-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
  color: #000;
  font-family: sans-serif;
  font-size: 9px;
  text-align: center;
  cursor: pointer;
  -webkit-box-shadow: inset 0px 0px 4px 0 rgba(0, 0, 0, 0.25);
  -moz-box-shadow: inset 0px 0px 4px 0 rgba(0, 0, 0, 0.25);
  box-shadow: inset 0px 0px 4px 0 rgba(0, 0, 0, 0.25);
}
.source_slider_frame__on .source_slider_button {
  margin-left: 20px;
  background: #EDF2F7;
}
.source_slider_frame .source_slider_text_on {
  display: none;
}
.source_slider_frame__on .source_slider_text_off {
  display: none;
}
.source_slider_frame__on .source_slider_text_on {
  display: block;
}
.source_slider_frame__on .source_slider_button {
  background: #73c051;
  color: #fff;
}
/* /Togglers
---------------------------------------------------------------------------------- */
/* Buttons
---------------------------------------------------------------------------------- */
/* TODO: cosmetic changes needed */
.source_btn {
  position: relative;
  display: inline-block;
  *display: inline;
  *zoom: 1;
  padding: 4px 17px;
  background-color: #65A7D6;
  border: #5B9ECB solid 1px;
  border-radius: 3px;
  color: #fff;
  font-weight: normal;
  text-decoration: none;
  font-size: 12px;
}
.source_btn:hover {
  background-color: #5B9ECB;
}
.source_btn:active {
  top: 1px;
}
/* /Buttons
---------------------------------------------------------------------------------- *//* Navigation
---------------------------------------------------------------------------------- */
.source_nav {
  white-space: nowrap;
}
.source_nav:empty {
  display: none;
}
@media all and (min-width: 990px) {
  .source_nav:before {
    content: '';
    display: inline-block;
    vertical-align: middle;
    height: 100%;
  }
}
.source_nav_c {
  display: inline-block;
  vertical-align: top;
  border-radius: 10px;
  width: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 20px 21px 10px;
  background-color: #f1f2f3;
}
.source_nav_ul {
  list-style: none;
  margin: 0;
  padding: 0;
  /*@media @media_min-step-m { min-height: 100px; }*/

}
.source_nav_ul li:first-child {
  margin-top: 0;
}
.source_nav_ul a {
  display: block;
}
/* /Navigation
---------------------------------------------------------------------------------- *//* Grids
---------------------------------------------------------------------------------- */
.source_col-main {
  margin: 0 auto;
  padding: 0 25px;
  max-width: 1350px;
}
.source_col {
  display: inline-block;
  *display: inline;
  *zoom: 1;
  vertical-align: top;
  width: 33.1%;
  padding-right: 25px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.source_col.__15 {
  width: 20%;
}
.source_col.__14 {
  width: 24.5%;
}
.source_col__23 {
  width: 66.2%;
}
.source_col.__right {
  float: right;
  padding-right: 0;
}
/* Justified layout
-------------------------------------------------- */
/* justified inline data  */
.jcol-l,
.jcol-r {
  display: inline-block;
  *display: inline;
  *zoom: 1;
  width: 50%;
  vertical-align: middle;
  text-align: left;
}
.jcol-r {
  text-align: right;
}
/* /Justified layout */
/* /Grids
---------------------------------------------------------------------------------- */
/* Layout
---------------------------------------------------------------------------------- */
.source_container {
  position: relative;
  padding: 50px 25px 0;
  /*350px; /* Footer height + margin */

  /*min-height: 100%;
	overflow: hidden;*/

  min-height: 100%;
  overflow-x: hidden;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
@media all and (min-width: 990px) {
  .source_container {
    min-width: 990px;
  }
}
.source_main {
  position: relative;
  padding: 35px 0;
  -webkit-box-flex: 1;
  -ms-flex: 1 0 auto;
  flex: 1;
  -webkit-flex: 1;
  width: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  counter-reset: h2;
}
.source_main_h1,
.source_main > h1 {
  position: relative;
  padding: 30px 0;
  margin: -30px -100% 20px;
  padding-left: 100%;
  padding-right: 100%;
  font-size: 36px;
  font-weight: normal;
  color: #67a9d4;
  border-bottom: 1px solid #f0f0f0;
  font-family: 'Museo', Arial;
  /* reset */

  line-height: 1.5;
}
.source_main_descr > ul,
.source_main_descr > p,
.source_main_descr {
  margin-bottom: 20px;
  font-size: 14px;
}
/* /Layout
---------------------------------------------------------------------------------- */
/* Header
---------------------------------------------------------------------------------- */
.source_header {
  position: relative;
  margin: -50px -25px 0;
  height: 50px;
  min-width: 990px;
  padding-top: 11px;
  padding-bottom: 10px;
  z-index: 30;
  top: 0;
  left: 0;
  right: 0;
  font-size: 14px;
  background: #333;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: opacity .2s;
  -moz-transition: opacity .2s;
  -o-transition: opacity .2s;
  transition: opacity .2s;
  white-space: nowrap;
}
@media all and (min-width: 990px) {
  .source_header {
    position: fixed;
    margin: 0;
  }
}
.source__scrolled-down .source_header__focus,
.source_header__focus {
  opacity: 1;
}
.source_logo {
  display: inline-block;
  *display: inline;
  *zoom: 1;
  vertical-align: baseline;
  margin-right: 25px;
  line-height: 30px;
  color: #67a9d4;
  font-size: 24px;
  font-family: 'Museo', Arial;
  text-decoration: none;
}
.source_logo:hover {
  color: #67a9d4;
  text-decoration: underline;
}
/* Navigation
-------------------------------------------------- */
.source_header_nav {
  display: inline-block;
  *display: inline;
  *zoom: 1;
  vertical-align: 1px;
}
.source_header_nav_lst {
  margin: 0;
  padding: 0;
  list-style: none;
}
.source_header_nav_i {
  display: inline-block;
  *display: inline;
  *zoom: 1;
  margin-left: 20px;
  /* Reset */

  line-height: 1.5;
}
.source_header_nav_i:first-child {
  margin-left: 0;
}
/* /Navigation */
/* /Header
---------------------------------------------------------------------------------- *//* Footer
---------------------------------------------------------------------------------- */
.source_footer {
  position: relative;
  z-index: 11;
  /* Higher than nav */

  margin: 0 -25px;
  padding: 1.5em;
  -ms-flex-preferred-size: auto;
  border-top: 1px solid #eee;
  padding: 30px 0;
  background: #333;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  font-size: 12px;
  color: #999;
}
.source_footer h2 {
  margin-bottom: 10px;
  font-weight: normal;
  font-size: 15px;
  color: #666;
}
.source_footer .source_ul {
  color: #999;
  margin: 0;
  list-style: none;
}
.source_footer_copy {
  margin-top: 40px;
  line-height: 2;
}
/* /Footer
---------------------------------------------------------------------------------- *//* Catalog
---------------------------------------------------------------------------------- */
.source_section .source_catalog {
  padding: 10px 20px;
  border: 1px solid #dfe2e4;
  border-radius: 10px;
}
.source_catalog_h2,
.source_catalog h2 {
  font-size: 18px;
  color: #333;
  margin: 0 0 10px;
  font-weight: normal;
}
.source_catalog_tx {
  min-height: 36px;
  /* 2 lines */

  margin: 5px 0 20px;
}
.source_catalog_tx p {
  margin: 0 0 10px;
}
.source_catalog_list {
  list-style: none;
  margin: 0;
  padding: 0;
}
.source_catalog_list_i {
  width: 25%;
  margin-right: 5%;
  display: inline-block;
  *display: inline;
  *zoom: 1;
  vertical-align: top;
}
.source_col .source_catalog_list_i {
  /* Context */

  width: 80%;
  display: block;
}
.source_catalog_a {
  position: relative;
  display: block;
  margin-left: -5px;
  padding: 5px 25px 5px 5px;
  font-size: 13px;
  text-decoration: none;
}
a.source_catalog_a:hover {
  text-decoration: none;
  background-color: #f1f2f3;
}
a.source_catalog_a:hover .source_catalog_footer {
  opacity: 1;
}
a.source_catalog_a:hover .source_catalog_title {
  text-decoration: underline;
}
.source_catalog_footer {
  margin-top: 3px;
  color: #999;
  font-size: 11px;
  text-decoration: none !important;
  opacity: 0;
  -webkit-transition: opacity .2s;
  -moz-transition: opacity .2s;
  -o-transition: opacity .2s;
  transition: opacity .2s;
}
.source_catalog_all {
  margin-top: 5px;
}
/* /Catalog
---------------------------------------------------------------------------------- *//* Navigation
---------------------------------------------------------------------------------- */
.source_main_nav {
  margin-top: 40px;
}
@media all and (min-width: 990px) {
  .source_main_nav {
    position: fixed;
    z-index: 10;
    top: 170px;
    right: 25px;
    bottom: 40px;
    width: 280px;
    margin-top: 0;
    margin-right: 0;
    transition: top 0.3s;
  }
  .source__scrolled-down .source_main_nav {
    top: 70px;
  }
}
@media all and (min-width: 1400px) {
  .source_main_nav {
    position: fixed;
    z-index: 10;
    left: 50%;
    top: 185px;
    width: 280px;
    margin-left: 395px;
    margin-top: 0;
    margin-right: 0;
  }
}
.source_main_nav:hover {
  z-index: 20;
  /* Higher than any other elements */

}
.source_main_nav h2 {
  font-weight: normal;
  font-size: 15px;
  color: #333;
  margin: 0 0 5px;
  line-height: 1.5;
  font-family: inherit;
  text-rendering: auto;
}
.source_main_nav.__menuScroll {
  overflow-x: hidden;
  overflow-y: auto;
  bottom: 15px;
}
.source_main_nav_i {
  margin: 10px 0;
  font-size: 13px;
}
.source_main_nav_i:first-child {
  margin-top: 0;
}
.source_main_nav_i + .source_main_nav_i {
  padding-top: 10px;
  border-top: 1px solid #dfe2e4;
}
.source_main_nav_ul {
  margin-left: -21px;
  /* menu padding compensation  */

  margin-right: -21px;
}
.source_main_nav_li {
  line-height: 20px;
  margin-bottom: 2px;
}
.source_main_nav_ul2 {
  padding: 0;
}
.source_main_nav_li2 {
  color: #666;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  line-height: 0;
  transition: line-height 0.2s;
}
.source_main_nav_li.__active .source_main_nav_li2 {
  line-height: 20px;
}
.source_main_nav_a {
  overflow: hidden;
  text-overflow: ellipsis;
  padding: 0 21px;
}
.source_main_nav_li2 .source_main_nav_a {
  padding: 0 37px;
}
.source_main_nav .source_main_nav_a.__active {
  /* for weight */

  background-color: #8AB5D6;
  color: #F9FBFD;
}
.source_main_nav_ac_item {
  position: relative;
  line-height: 24px;
}
/* /Navigation
---------------------------------------------------------------------------------- *//* Info blocks
---------------------------------------------------------------------------------- */
.source_data,
.source_doc,
.source_note,
.source_warn,
.source_info {
  display: block;
  position: relative;
  border-radius: 10px;
}
.source_data:empty,
.source_doc:empty,
.source_note:empty,
.source_warn:empty,
.source_info:empty {
  display: none;
}
.source_data p,
.source_doc p,
.source_note p,
.source_warn p,
.source_info p {
  margin: 0 0 10px;
}
.source_data p:last-child,
.source_doc p:last-child,
.source_note p:last-child,
.source_warn p:last-child,
.source_info p:last-child {
  margin-bottom: 0;
}
body p.source_info,
.source_info {
  background: #FFF6DD;
  padding: 15px 25px;
  min-height: 50px;
  margin: 15px 0;
  margin-right: 33.6%;
}
body p.source_warn,
.source_warn {
  margin: 20px 33.6% 20px 0;
  padding: 10px 10px 10px 35px;
  background: #ffe2e5 url(../i/warn.png) no-repeat 13px 13px;
}
body p.source_note,
.source_note {
  margin: 20px 33.6% 20px 0;
  padding: 10px 10px 10px 35px;
  background: #dcf1fa url(../i/note.png) no-repeat 13px 13px;
}
body p.source_doc,
.source_doc {
  margin: 20px 33.6% 20px 0;
  padding: 10px 25px;
  background: #DCFCDA;
}
body p.source_data,
.source_data {
  margin: 20px 33.6% 20px 0;
  padding: 10px 25px;
  border: 1px dotted #ccc;
  background: #f9f9f9;
  font-size: 11px;
}
/* /Info blocks
---------------------------------------------------------------------------------- *//* Section
---------------------------------------------------------------------------------- */
.source_section {
  margin: 20px 0;
  padding-left: 25px;
  counter-reset: h3;
  /* Error detection */

}
@media all and (min-width: 990px) {
  .source_section {
    margin-right: 33.6%;
  }
}
.source_section > h2:first-child {
  position: relative;
  margin: 0 0 25px -25px;
  padding: 5px 25px;
  line-height: 28px;
  font-size: 16px;
  font-weight: normal;
  color: #333;
  -moz-border-radius: 5px;
  border-radius: 5px;
  background-color: #f1f2f3;
  font-family: inherit;
}
.source_section > h2:first-child:before {
  counter-increment: h2 1;
  content: counter(h2) ". ";
  color: #666;
}
.source_section > h2:not(:first-child) {
  background-color: rgba(250, 0, 0, 0.2);
  outline: 3px solid red;
  outline-offset: 3px;
}
.source_section > h2:not(:first-child):after {
  content: " error - duplicate h2 or not first tag in section";
  font-weight: normal;
  color: #333;
}
.source_section > h3 {
  position: relative;
  margin: 15px 0 15px -25px;
  padding: 0 25px;
  font-size: 15px;
  color: #000;
  font-weight: normal;
  line-height: 1.5;
  font-family: inherit;
  counter-reset: h4;
}
.source_section > h3:after {
  content: "";
  border-bottom: 1px dotted #666;
  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
}
.source_section > h3 > span {
  position: relative;
  z-index: 1;
  display: inline-block;
  padding: 0 5px;
  background: #fff;
}
.source_section > h3 > span:before {
  color: #999;
  counter-increment: h3 1;
  content: counter(h2) "." counter(h3) ". ";
}
.source_section > h4 {
  margin: 0 0 10px;
  padding: 0;
  font-size: 13px;
  color: #333;
  font-weight: normal;
  text-indent: .5ex;
  line-height: 1.5;
  font-family: inherit;
}
.source_section > h4:before {
  color: #999;
  counter-increment: h4 1;
  content: counter(h2) "." counter(h3) "." counter(h4) ". ";
}
.source_section > ul,
.source_section > p {
  margin: 15px 0;
}
.source_section > ul {
  padding: 0;
  margin-left: 22px;
  list-style: outside disc;
}
/* Dynamics
-------------------------------------------------- */
/* Everything closed by default */
body .source_section > * {
  display: none;
}
body .source_section > h2:first-child {
  display: block;
}
.source_section__open > script,
.source_section__open > style {
  display: none !important;
}
.source_section__open > *:not(.source_example) {
  display: block;
}
.source_section__open > .source_a_hl {
  display: inline;
}
.source_section__open .source_example {
  display: inline-block;
  *display: inline;
  *zoom: 1;
}
.source_section__open .spoiler-cont_css_w,
.source_section__open .spoiler-cont_js_w,
.source_section__open .spoiler-cont_xml_w {
  display: none !important;
}
.source_section__open .source_section_h_expand:after {
  content: "▼";
}
.source_section__open .source_source-code__show,
.source_section__open .source_source-code__static {
  display: block !important;
}
/* Header actions */
.source_section_h:hover .source_section_h_expand {
  color: #4792D2 !important;
}
.source_section_h_expand {
  position: absolute;
  top: 0;
  left: -20px;
  width: 20px;
  height: 38px;
  margin: 0 10px 0 0;
  font-size: 12px;
  text-decoration: none;
  color: #999 !important;
}
.source_section_h_expand:after {
  content: "►";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  text-align: left;
  line-height: 38px;
}
/* /Header actions */
/* /Dynamics */
/* /Section
---------------------------------------------------------------------------------- *//* Code examples
---------------------------------------------------------------------------------- */
.source_example {
  position: relative;
  display: inline-block;
  *display: inline;
  *zoom: 1;
  vertical-align: top;
  padding: 20px;
  min-width: 500px;
  border: 5px solid #f0f0f0;
  margin: 10px 0 15px;
  margin-right: 15px;
  background-color: #fff;
}
.source_example:hover {
  z-index: 20;
}
.source_example:empty {
  display: none;
}
.source_example__2 {
  width: 215px;
}
.source_example__3 {
  width: 730px;
}
.source_example__4 {
  width: 980px;
}
.source_example__5 {
  width: 1200px;
}
.source_example__auto {
  width: auto;
}
.source_example__full {
  width: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.source_example__2,
.source_example__3,
.source_example__4,
.source_example__5,
.source_example__auto,
.source_example__full {
  min-width: 0;
}
.source_example__3,
.source_example__4,
.source_example__5,
.source_example__full {
  margin-right: 0;
}
/* /Code examples
---------------------------------------------------------------------------------- *//* Code highlighting
---------------------------------------------------------------------------------- */
.source_source-code,
code.brush {
  display: none !important;
  /* Hide all code source by default */

}
.source_source-code {
  font-size: 13px;
}
.source_source-code .source_source-code_toggle .source_show {
  display: none;
}
/* Default maximazed */
.source_source-code__min .source_source-code_toggle .source_hide {
  display: none;
}
/* minimized */
.source_source-code__min .source_source-code_toggle .source_show {
  display: inline;
}
.source_source-code__min .source_source-code_cnt {
  display: none !important;
}
.source_source-code_toggle {
  display: inline-block;
  height: 14px;
  margin-bottom: 10px;
  border-bottom: #25588D dashed 1px;
  font-size: 10px;
  text-decoration: none !important;
}
.source_source-code_toggle:hover {
  border-bottom: none;
  padding-bottom: 1px;
}
.source_source-code_toggle__css .source_show:after,
.source_source-code_toggle__css .source_hide:after {
  content: " CSS";
}
.source_source-code_toggle__html .source_show:after,
.source_source-code_toggle__html .source_hide:after {
  content: " HTML";
}
.source_source-code_toggle__js .source_show:after,
.source_source-code_toggle__js .source_hide:after {
  content: " JavaScript";
}
.source_source-code_toggle-all .source_hide {
  display: none;
}
/* Default hidden */
.source_source-code_toggle-all__hide .source_show {
  display: none;
}
.source_source-code_toggle-all__hide .source_hide {
  display: inline;
}
/* /Code highlighting
---------------------------------------------------------------------------------- *//* Search
---------------------------------------------------------------------------------- */
.source_search {
  display: inline-block;
  *display: inline;
  *zoom: 1;
  overflow: hidden;
  height: 28px;
  width: 100%;
  border: 1px solid #444;
  -moz-border-radius: 5px;
  border-radius: 5px;
  vertical-align: top;
}
.source_search.__light {
  border-color: #ccc;
}
.source_search.__light input.source_search_it {
  /* Cascade for weight */

  background-color: #FFF;
}
input.source_search_it {
  /* Cascade for weight */

  padding: 6px 8px;
  padding-left: 28px;
  height: 30px;
  margin: -1px 0 0 -1px;
  width: 101%;
  border: 0 none;
  line-height: 15px;
  font-size: 14px;
  background: #000000 url(../i/search.png) no-repeat 8px 50%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  color: #999;
  /* Resets */

  display: block;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  -webkit-transition: none;
  -moz-transition: none;
  transition: none;
  font-weight: 400;
  font: 14px/1.5 Arial, Helvetica, sans-serif;
  vertical-align: middle;
}
input.source_search_it:focus {
  background-color: #fff;
  color: #333;
}
/* Auto complete plugin
-------------------------------------------------- */
.autocomplete-suggestions {
  border: 1px solid #ccc;
  background: #FFF;
  overflow: auto;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -moz-border-radius: 4px;
  border-radius: 4px;
  margin-top: 1px;
  font-size: 12px;
}
.autocomplete-suggestion {
  padding: 4px 8px;
  padding-left: 28px;
  white-space: nowrap;
  overflow: hidden;
  max-width: 100%;
  text-overflow: ellipsis;
  cursor: pointer;
}
.autocomplete-selected {
  background: #f1f2f3;
}
.autocomplete-selected:before {
  content: "►";
  color: #999;
  position: absolute;
  left: 8px;
}
.autocomplete-suggestions strong {
  font-weight: normal;
  text-shadow: 0 0 1px #f1f2f3;
  color: #00A0FE;
}
.autocomplete-suggestions span {
  color: #999;
}
/* /Auto complete plugin */
/* /Search
---------------------------------------------------------------------------------- *//* Highlights
---------------------------------------------------------------------------------- */
/* TODO: optimize those kind of selectors range with preprocessor */
.source_main > code:not(:empty),
.source_main > *:not(.source_example) > code:not(:empty),
.source_main > *:not(.source_example) > *:not(.source_example) > code:not(:empty),
.source_section > code:not(:empty),
.source_section > *:not(.source_example) > code:not(:empty),
.source_section > *:not(.source_example) > *:not(.source_example) > code:not(:empty) {
  background: #f1f2f3;
  font-family: Menlo, Monaco, Consolas, monospace;
  font-size: .85em;
  padding: 2px 4px 1px;
  border-radius: 3px;
  border: 1px solid #dfe2e4;
  white-space: normal;
  color: #07A;
}
.source_hl {
  background: #ceeeff;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1em;
  padding: 1px 3px 2px;
  border: none;
  border-radius: 3px;
  color: #333;
}
/* /Highlights
---------------------------------------------------------------------------------- */
/* Links
---------------------------------------------------------------------------------- */
/* TODO: rename classes */
.source_a_hl,
.source_a_o {
  /* Regular link */

}
.source_a_hl:link,
.source_a_o:link,
.source_a_hl:visited,
.source_a_o:visited {
  text-decoration: none;
  color: #3090e1;
}
.source_a_hl:hover,
.source_a_o:hover {
  color: #1c76c2;
  text-decoration: underline;
}
.source_a_bl {
  /* Emphasized link */

}
.source_a_bl:link,
.source_a_bl:visited {
  color: #333333;
  text-decoration: none;
}
.source_a_bl:hover {
  text-decoration: underline;
}
.source_a_l {
  /* Inverted link */

}
.source_a_l:link,
.source_a_l:visited {
  color: #999999;
  text-decoration: none;
}
.source_a_l:hover {
  color: #666666;
  text-decoration: underline;
}
.source_a_g {
  /* Object link */

}
.source_a_g:link,
.source_a_g:visited {
  color: #1b9b19;
  text-decoration: none;
}
.source_a_g:hover {
  color: #136f12;
  text-decoration: underline;
}
.source_a_hl {
  /* Higlight link */

  font-size: 16px;
  line-height: 2;
}
.source_a_hl:after {
  content: "\A";
  white-space: pre;
}
.source_a_d {
  /* Design link */

}
.source_a_d:link,
.source_a_d:visited {
  color: #1b9b19 !important;
  font-size: 16px;
}
.source_a_d:hover {
  color: #1b9b19;
}
.source_a_d:before {
  content: '';
  display: inline;
  padding-right: 25px;
  background: url(../i/spec_design_link.svg) 50% no-repeat;
}
.source_a_s {
  /* Spec link */

}
.source_a_s:link,
.source_a_s:visited {
  color: #1b9b19 !important;
  font-size: 16px;
}
.source_a_s:hover {
  color: #1b9b19;
}
.source_a_s:before {
  content: '';
  display: inline;
  padding-right: 25px;
  background: url(../i/spec_link.svg) 50% no-repeat;
}
/* fallback for ie which not support SVG */
.ie8 .source_a_d {
  /* Design link */

}
.ie8 .source_a_d:before {
  background-image: url(../i/spec_design_link.png);
}
.ie8 .source_a_s {
  /* Spec link */

}
.ie8 .source_a_s:before {
  background-image: url(../i/spec_link.png);
}
/* /Links
---------------------------------------------------------------------------------- *//* Helpers
---------------------------------------------------------------------------------- */
.source_delim {
  background: none;
  border: 0 none;
  border-top: 1px dotted #333;
  height: 0;
  padding: 0;
  margin: 20px 0;
}
.source_clear {
  width: 100%;
  clear: both;
  height: 0;
  font-size: 0;
  line-height: 0;
}
.source_tx {
  margin: 5px 0 20px;
}
/* Margin */
.mt-S {
  margin-top: 10px;
}
.mt-M {
  margin-top: 20px;
}
/* /Helpers
---------------------------------------------------------------------------------- */