/* Plugin styles
---------------------------------------------------------------------------------- */

html, body {
	padding: 0;
	margin: 0;
    min-width: 0;
	}

.clarify_h {
	padding: .25em .5em;
	position: relative;

	background-color: #73AF73;
	color: white;
	font-family: sans-serif;

	-webkit-transition: top .25s ease-in-out .5s;
	-moz-transition: top .25s ease-in-out .5s;
	transition: top .25s ease-in-out .5s;
	}
	.clarify_h.__closed {
		top: -1.6em
		}
	.clarify_h:hover {
		top: 0;
		transition-delay: 0;
		}

	.clarify-logo {
		vertical-align: -.095em;
		margin-right: .25em;
		-webkit-transition: -webkit-transform .2s ease-in;
		-moz-transition: transform .2s ease-in;
		transition: transform .2s ease-in;
		}
		.clarify_h:hover .clarify-logo {
			-webkit-transform: rotate(-45deg);
			-moz-transform: rotate(-45deg);
			transform: rotate(-45deg);
			}

	.clarify-h_a {
		display: none;
		}
	.clarify_h:hover > .clarify-h_a {
		display: inline;
		color: white;
		text-decoration: none;
		}
	.clarify_h:hover > .clarify-h_tx {
		display: none;
		}

/* /Plugin styles
---------------------------------------------------------------------------------- */
