/* Source blocks
---------------------------------------------------------------------------------- */

.clarify .source_example {
	width: 100%;
	min-width: 100%;
	margin: 0;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	}

/* /Source blocks
---------------------------------------------------------------------------------- */
