/* Source blocks
---------------------------------------------------------------------------------- */
body {
    min-width: 0 !important;
    }
.clarify .source_example {
	width: 100%;
	min-width: 100%;
	padding: 0;
	margin: 0;
	border: 0;

	box-sizing: border-box;
	-moz-box-sizing: border-box;
	}

/* /Source blocks
---------------------------------------------------------------------------------- */
