/* Reset
---------------------------------------------------------------------------------- */

html {
	overflow-y: scroll;
	}

html,
html body { //cascade for weight
	padding: 0;
	margin: 0;
	height: 100%;
	}

html body { //cascade for weight
	position: relative;
	min-width: 990px;
	font: 14px/1.5 Arial, Helvetica, sans-serif;
	background: #fff;
	color: #333;

		&.__loading {
				overflow: hidden;
			}
	}

/* Fonts
-------------------------------------------------- */

@media @media_min-step-m {
		/* A font by Jos Buivenga (exljbris) -> www.exljbris.com */
		@font-face {
		    font-family: 'Museo';
		    src: url('/source/assets/fonts/museocyrl_500-webfont.woff2') format('woff2'),
                 url('/source/assets/fonts/museocyrl_500-webfont.woff') format('woff');
		    font-weight: normal;
		    font-style: normal;
		}

		@font-face {
		    font-family: 'Museo Sans';
		    src: url('/source/assets/fonts/museosanscyrl-500-webfont.woff2') format('woff2'),
                 url('/source/assets/fonts/museosanscyrl-500-webfont.woff') format('woff');
		    font-weight: normal;
		    font-style: normal;
		}
	}

/* /Fonts */

/* Text decorations
-------------------------------------------------- */

.source_ul {
	margin: 0; padding: 0;
	margin-left: 18px;

	list-style: outside disc;
	}
	.source_ul li {
		margin: 5px 0;
		}

/* /Text decorations */

/* Spec page resets
-------------------------------------------------- */

/* complex cascade for targeting only spec decorations, excluding .source_example blocks */
.source-only(a,{
    color: #4792D2;
    text-decoration: none;

    &:hover {
        color: #1c76c2;
        text-decoration: underline;
        }
    });
/* /Spec page resets */

/* /Reset
---------------------------------------------------------------------------------- */