/* Variables
---------------------------------------------------------------------------------- */

@max-width: 1400px;

/* Media
-------------------------------------------------- */

//Mobile first
@media_min-step-m: ~'all and (min-width: 990px)';
@media_min-step-l: ~'all and (min-width: 1400px)';
/* /Media */

/* Layout
-------------------------------------------------- */
@layout_col-main--padding: 25px;
@layout_col-main--max-width: @max-width - @layout_col-main--padding * 2;

@layout_spec--inner-padding: 25px;
@layout_spec--inner-margin-right: 33.6%;
/* /Layout */


/* /Variables
---------------------------------------------------------------------------------- */