/*
*
* Core styles
*
* ! Not for modifying, use /user/css/user.css !
*
*/


/* Reset
---------------------------------------------------------------------------------- */

html {
	overflow-y: scroll;
	}

html, body {
	padding: 0;
	margin: 0;
	height: 100%;
	}

body {
	position: relative;

	font: 13px/1.5 Arial, Helvetica, sans-serif;
	background: #fff;
	color: #333;
	}

a {color:#666;text-decoration:none}

a:hover {color: #333; text-decoration: underline;}

/* /Reset
---------------------------------------------------------------------------------- */


/* States
---------------------------------------------------------------------------------- */

.source__scrolled-down .source_header {
	opacity: .1;
	}
.source__scrolled-down .source_header:hover {
	opacity: 1;
	}

@media only screen and (max-device-width : 1024px){
	.source__scrolled-down .source_header {
		opacity: 1;
		}
	}

/* /States
---------------------------------------------------------------------------------- */


/* Base
---------------------------------------------------------------------------------- */

/* Layout
-------------------------------------------------- */

.source_container {
	position: relative;
	padding: 50px 25px 285px;

	min-height: 100%;
	min-width: 1050px;
	overflow: hidden;

	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	}

.source_col-main {
	margin: 0 auto;
	max-width: 1200px;
	}

.source_col {
	display: inline-block;
	*display: inline;
	*zoom: 1;

	vertical-align: top;
	width: 33.1%;
	padding-right: 25px;

	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	}
	.source_col__13 {
		}

	.source_col__23 {
		width: 66.2%;
		}

/* /Layout */

/* Buttons
-------------------------------------------------- */

/* TODO: cosmetic changes needed */
.source_btn {
	display: inline-block;
	*display: inline;
	*zoom: 1;

	background-color:#ededed;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #ededed), color-stop(1, #dfdfdf) );
	background:-moz-linear-gradient( center top, #ededed 5%, #dfdfdf 100% );
	padding:6px 11px;

	border-radius:6px;
	border:1px solid #dcdcdc;
	box-shadow:inset 0px 1px 0px 0px #fff;

	color:#333;
	font-weight:normal;
	text-decoration:none;
	font-size: 12px;
	}
	.source_btn:hover {
		background-color:#dfdfdf;
		background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #dfdfdf), color-stop(1, #ededed) );
		background:-moz-linear-gradient( center top, #dfdfdf 5%, #ededed 100% );
		}
	.source_btn:active {
		position:relative;
		top:1px;
		}

/* /Buttons */

/* Navigation */

.source_nav {
	padding: 15px;
	background: #f1f2f3;
	white-space: nowrap;

	-webkit-border-radius: 5px;
	border-radius: 5px;

	-webkit-box-shadow: 0 1px 10px rgba(0, 0, 0, .3);
	box-shadow: 0 1px 10px rgba(0, 0, 0, .3);

	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	}
	.source_nav:empty {
		display: none;
		}

.source_nav_ul {
	list-style: none;
	margin: 0;
	padding: 0;
	}

	.source_nav_ul li:first-child {
		margin-top: 0;
		}

	.source_nav_ul a {
		display: block;
		}

/* /Navigation */


/* Text decorations
-------------------------------------------------- */

.source_delim {
	background: none;
	border: 0 none;
	border-top: 1px dotted #333;
	height: 0; padding: 0;
	margin: 20px 0;
	}

.source_ul {
	margin: 0; padding: 0;
	margin-left: 18px;

	list-style: outside disc;
	}
	.source_ul li {
		margin: 5px 0;
		}

/* Links */
.source_a_bl,
.source_spec {
	color: #333;
	}
	.source_a_bl:hover,
	.source_spec:hover {
		color: #B84819;
		}

.source_a_l {
	color: #999;
	}
	.source_a_l:hover {
		color: #666;
		}

.source_a_n {
	color: #666;
	}
	.source_a_n:hover {
		color: #333;
		}

.source_a_g {
	color: #449F13;
	}
	.source_a_g:hover {
		color: #518731;
		}

.source_a_o,
.source_control {
	color: #EB722E;
	}
	.source_a_o:hover,
	.source_control:hover {
		color: #B84819;
		}

.source_control + .source_control {
	margin-top: -10px;
	}
/* /Links */

/* /Text decorations */

/* /Base
---------------------------------------------------------------------------------- */


/* Project
---------------------------------------------------------------------------------- */

/* Header
-------------------------------------------------- */

.source_header {
	height: 50px;
	min-width: 1050px;
	padding-top: 11px;
	padding-bottom: 10px;
	position: fixed;
	z-index: 30;
	top: 0; left: 0; right: 0;

	font-size: 14px;
	background: #333;

	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;

	-webkit-transition: opacity .2s;
	-moz-transition: opacity .2s;
	-o-transition: opacity .2s;
	transition: opacity .2s;
	}

@media only screen and (max-device-width : 800px) {
	.source_header {
		position: relative;
		margin: -50px -25px 0;
		}
	}

.source__scrolled-down .source_header__focus,
.source_header__focus {
	opacity: 1;
	}

.source_logo {
	display: inline-block;
	*display: inline;
	*zoom: 1;
	width: 50px;
	height: 39px;
	margin-top: -11px;
	padding-top: 11px;
	margin-right: 18px;
	background: url(../i/logo.png) no-repeat 50%;

	vertical-align: top;
	text-align: center;
	}
	.source_logo:hover {
		background-color: #222;
		}

.source_header_nav {
	position: relative;
	display: inline-block;
	*display: inline;
	*zoom: 1;
	}
	.source_header_nav .source_nav_ul li:not(.source_delim) {
		margin: 10px 0;
		}

.source_header_nav_a {
	display: inline-block;
	*display: inline;
	*zoom: 1;

	padding: 2px 15px;

	border: 1px solid #999;
	-webkit-border-radius: 10px;
	border-radius: 10px;
	color: #999;
	text-decoration: none;
	}
	.source_header_nav_a:after {
		content: "▼";
		padding-left: 5px;
		}
	.source_header_nav:hover .source_header_nav_a,
	.source_header_nav__active .source_header_nav_a {
		color: #fff;
		border-color: #fff;
		text-decoration: none;
		}

.source_header_nav_cnt {
	position: absolute;
	left: 0;
	top: 110%;
	min-width: 190px;

	display: none;
	}
	.source_header_nav_cnt:before {
		display: block;
		content: "";
		position: absolute;
		bottom: 100%; left: 0; right: 0;
		height: 10px;
		}
	.source_header_nav:hover .source_header_nav_cnt,
	.source_header_nav__active .source_header_nav_cnt {
		display: block;
		}

/* /Header */


/* Footer
-------------------------------------------------- */

.source_footer {
	position: absolute;
	bottom: 0; left: 0; right: 0;

	border-top: 1px solid #eee;
	padding: 30px 25px;
	min-height: 250px;
	background: #f1f2f3;

	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	}

	.source_footer h2 {
		margin-bottom: 10px;
		font-weight: normal;
		font-size: 15px;
		color: #666;
		}

.source_footer .source_ul {
	color: #999;
	}

/* /Footer */


/* Main
-------------------------------------------------- */

.source_main {
	padding: 35px 0;
	min-height: 230px;
	}

	.source_main_h1, /* for custom cases */
	.source_main > h1 {
		position: relative;
		padding: 30px 0;
		margin: -30px -100% 20px;
		padding-left: 100%;
		padding-right: 100%;
		font-size: 36px;
		font-weight: normal;
		color: #666;
		border-bottom: 1px solid #f0f0f0;
		}

	.source_main_descr > ul,
	.source_main_descr > p,

	.source_main > ul,
	.source_main > p {
		width: 66%;
		}

.source_main_descr {
	margin-bottom: 20px;
	font-size: 14px;
	}

.source_path {
	position: absolute;
	left: auto; top: auto;
	margin-top: -55px;
	color: #999;
	}

.source_tx {
	margin: 5px 0 20px;
	}

/* /Main */

/* Catalog
---------------------------------------------------------------------------------- */

.source_catalog {
	}

	.source_catalog_h2, /* for custom cases */
	.source_catalog h2 {
		font-size: 18px;
		color: #333;
		margin: 0 0 5px;
		font-weight: normal;
		}

.source_catalog_tx {
	min-height: 36px; /* 2 lines */
	margin: 5px 0 20px;
	}

.source_catalog_list {
	list-style: none;
	margin: 0;
	padding: 0;
	}

.source_catalog_list_i {
	width: 25%;
	margin-right: 5%;
	display: inline-block;
	*display: inline;
	*zoom: 1;
	}

.source_col .source_catalog_list_i { /* Context */
	width: 80%;
	display: block;
	}

.source_catalog_a {
	position: relative;
	display: block;
	margin-left: -5px;
	padding: 5px 25px 5px 5px;

	font-size: 13px;
	text-decoration: none;
	}
	.source_catalog_a:hover {
		text-decoration: none;
		background-color: #f1f2f3;
		}
		.source_catalog_a:hover .source_catalog_footer {
			opacity: 1;
			}

	.source_catalog_a:hover .source_catalog_title {
		text-decoration: underline;
		}

.source_catalog_footer {
	margin-top: 3px;

	color: #999;
	font-size: 11px;
	text-decoration: none !important;

	opacity: 0;

	-webkit-transition: opacity .2s;
	-moz-transition: opacity .2s;
	-o-transition: opacity .2s;
	transition: opacity .2s;
	}

.source_catalog_all {
	margin-top: 5px;
	}

/* /Catalog
---------------------------------------------------------------------------------- */

/* Spec page
-------------------------------------------------- */

.source_main {
	position: relative;
	z-index: 5;
	counter-reset: h2;
	}
	/* complex cascade for targeting only spec decorations, excluding .source_example blocks */
	.source_main > a,
	.source_main > *:not(.source_example) > a
	.source_section > *:not(.source_example) > a {
		color: #333;
		text-decoration: none;
		}

		.source_main > a:hover,
		.source_main > *:not(.source_example) > a:hover
		.source_section > *:not(.source_example) > a:hover {
			color: #B84819;
			text-decoration: underline;
			}

/* Navigation */
.source_main_nav {
	position: fixed;
	z-index: 10;
	right: 25px;
	top: 185px;
	width: 240px;
	padding-bottom: 0;
	}

	@media only screen and (max-device-width : 1024px){
		.source_main_nav {
			position: relative;
			top: auto;
			right: auto;
			margin-top: 20px;
			}
		}

	.source_main_nav h2 {
		font-weight: normal;
		font-size: 15px;
		color: #333;
		margin: 0 0 5px;
		}

	.source_main_nav.__menuScroll {
		overflow: auto;
		bottom: 15px;
		}

	.source_main_nav_i {
		margin: 10px 0;
		}
		.source_main_nav_i:first-child {
			margin-top: 0;
			}

	.source_main_nav_i + .source_main_nav_i {
		padding-top: 10px;
		border-top: 1px dotted #333;
		}

.source_main_nav_a {
	overflow: hidden;
	text-overflow: ellipsis;
	}

/* /Navigation */

.source_spec,
.source_control {
	display: block;
	height: 16px;
	line-height: 16px;
	margin: 15px 0;
	padding: 3px 25px;
	font-weight: bold;
	}

	.source_spec[href*="forticom"]{
		background: url(../i/spec_design.png) 4px 3px no-repeat;
		}

	.source_spec:hover,
	.source_control:hover {
		background-color: #FFFBF1;

		-moz-border-radius: 4px;
		border-radius: 4px;
		}

.source_info {
	position: relative;
	background: #FFF6DD;

	padding: 15px 100px 15px 25px;
	min-height: 50px;
	margin: 15px 0;
	margin-right: 33.6%;
	}
	.source_info:empty {
		display: none;
		}

	.source_info p {
		margin: 10px 0 0;
		}

.source_info_attention,
.source_info_ok {
	position: absolute;
	top: 0; right: 0;
	width: 100px; height: 80px;
	background-position: 50%;
	background-repeat: no-repeat;
	}

	.source_info_attention span {
		display: block;
		padding: 12px 0 4px;
		color: #333;
		font-size: 32px;
		}

.source_warn {
	margin: 20px 0;
	padding-left: 25px;
	position: relative;
	background: url(../i/warn.png) no-repeat 5px 2px;
	}

/* Section */

.source_section {
	margin: 20px 0;
	padding-left: 25px;
	counter-reset: h3;
	}
	.source_section > h2:first-child {
		position: relative;
		margin: 0 0 25px -25px;

		padding: 5px 30px;
		line-height: 28px;
		font-size: 15px;
		font-weight: normal;
		color: #333;

		border-bottom: 1px solid #c5c5c5;
		-webkit-border-radius: 5px;
		border-radius: 5px;
		background-color: transparent;
		background-image: -webkit-linear-gradient(top, #f6f6f6, #e4e4e4);
		background-image: -moz-linear-gradient(top, #f6f6f6, #e4e4e4);
		background-image: -o-linear-gradient(top, #f6f6f6, #e4e4e4);
		}
		.source_section > h2:first-child:before {
			position: absolute;
			left: 9px;
			text-align: right;

			counter-increment: h2 1;
			content: counter(h2)".";
			color: #666;
			}

	/* Error detection */
	.source_section > h2:not(:first-child) {
		background-color: red;
		}
		.source_section > h2:not(:first-child):after {
			content: " error - duplicate h2 or not first tag in section";
			}

	.source_section > h3 {
		position: relative;
		margin: 15px 0 15px -25px;
		padding: 0 25px;

		font-size: 15px;
		color: #3777AE;
		font-weight: normal;

		counter-reset: h4;
		}
		.source_section > h3:after {
			content: "";
			border-bottom: 1px dotted #666;
			position: absolute;
			left: 0; right: 0; top: 50%;
			}

	.source_section > h3 > span {
		position: relative; z-index: 1;
		display: inline-block;
		padding: 0 5px; background: #fff;
		}
		.source_section > h3 > span:before {
			color: #999;
			counter-increment: h3 1;
			content: counter(h2)"."counter(h3)". ";
			}

	.source_section > h4 {
		margin: 0 0 10px;
		padding: 0;
		font-size: 13px;
		color: #333;
		font-weight: normal;
		text-indent: .5ex;
		}
		.source_section > h4:before {
			color: #999;
			counter-increment: h4 1;
			content: counter(h2)"."counter(h3)"."counter(h4)". ";
			}

	.source_section > ul,
	.source_section > p {
		width: 66%;
		margin: 15px 0;
		}

	.source_section > ul {
		padding: 0;
		margin: 0; margin-left: 22px;
		list-style: outside disc;
		}

.source_hl,

.source_section > code,
.source_section > p > code,
.source_section > div > code {
	background: #FFEBB7;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 1em;
	padding: 1px 2px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	}

.source_clear {
	width: 100%;
	clear: both;
	height: 0;
	font-size:0;
	line-height:0;
	}

/* /Section */

/* Code Example */

.source_example {
	position: relative;

	display: inline-block;
	*display: inline;
	*zoom: 1;
	vertical-align: top;

	padding: 20px;
	min-width: 500px;
	border: 5px solid #f0f0f0;
	margin: 10px 0 15px;
	margin-right: 15px;

	background-color: #fff;
	}
	.source_example:hover {
		z-index: 20;
		}
	.source_example:empty {
		display: none;
		}

.source_example__2 { width: 215px; }
.source_example__3 { width: 730px; }
.source_example__4 { width: 980px; }
.source_example__5 { width: 1200px; }

.source_example__auto { width: auto; }
.source_example__full {
	width: 100%;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	}

.source_example__2,
.source_example__3,
.source_example__4,
.source_example__5,
.source_example__auto,
.source_example__full {
	min-width: 0;
	}

.source_example__3,
.source_example__4,
.source_example__5,
.source_example__full {
	margin-right: 0;
	}

/* dynamic example */
.source-example__dyn,
.source_control + script + .source_example,
.source_control + script + .source_source-code + .source_example,
.source_control + script + .source_source-code + .source_source-code + .source_example,
.source_control + script + .source_source-code + .source_source-code + .source_example,

.source_control +          .source_example,
.source_control +          .source_source-code + .source_example,
.source_control +          .source_source-code + .source_source-code + .source_example {
	outline: 2px solid #eb722e;
	outline-offset: 0;
	}

/* /Code Example */

/* Section dynamics */

/* Everything closed by default */
.source_section > * {
	display: none;
	}

	.source_section > h2:first-child {
		display: block !important;
		}

.source_section__open {

	}
	.source_section__open > *:not(script):not(style):not(style):not(.source_example) {
		display: block;
		}

	.source_section__open .source_example {
		display: inline-block !important;
		*display: inline !important;
		*zoom: 1;
		}

	.source_section__open .spoiler-cont_css_w,
	.source_section__open .spoiler-cont_js_w,
	.source_section__open .spoiler-cont_xml_w {
		display: none !important;
		}

	.source_section__open .source_section_h_expand:after {
		content: "▼";
		}

	.source_section__open .source_source-code__show {
		display: block !important;
		}

/* /Section dynamics */

/* Header actions */

.source_section_h {
	}
	.source_section_h  .source_section_h_expand {
		position: absolute;
		top: 12px; /*right: 14px;*/ left: -20px;

		width: 0;
		height: 15px;
		margin: 0 10px 0 0;

		font-size: 12px;
		text-decoration: none;
		color: #999;
		/*text-shadow: 0 -1px 1px rgba(0, 0, 0, .6);*/
		}
		.source_section_h:hover .source_section_h_expand {
			color: #EB722E;
			}

	.source_section_h_expand:after {
		content: "►";

		position: absolute;
		top: 0; left: 0;
		width: 100%;

		text-align: center;
		line-height: 14px;
		}

/* /Header actions */

/* /Spec page */


/* Code highlighting
-------------------------------------------------- */

.source_source-code,
code.brush {
	display: none !important; /* Hide all code source by default */
	}

code.brush.source_visible {
	display: block !important;
	}

.source_source-code .source_source-code_toggle .source_show {display: none;} /* Default maximazed */
.source_source-code__min .source_source-code_toggle .source_hide {display: none;} /* minimized */
.source_source-code__min .source_source-code_toggle .source_show {display: inline;}

.source_source-code__min .source_source-code_cnt {
	display: none !important;
	}

.source_source-code_toggle {
	display: inline-block;
	height: 14px;
	margin-bottom: 10px;
	border-bottom: #25588D dashed 1px;
	font-size: 10px;
	text-decoration: none !important;
	}
	.source_source-code_toggle:hover {
		border-bottom: none;
		padding-bottom: 1px;
		}

	.source_source-code_toggle__css .source_show:after,
	.source_source-code_toggle__css .source_hide:after {
		content: " CSS";
		}

	.source_source-code_toggle__html .source_show:after,
	.source_source-code_toggle__html .source_hide:after {
		content: " HTML";
		}

	.source_source-code_toggle__js .source_show:after,
	.source_source-code_toggle__js .source_hide:after {
		content: " JavaScript";
		}

.source_source-code_toggle-all .source_hide {display: none;} /* Default hidden */
.source_source-code_toggle-all__hide .source_show {display: none;}
.source_source-code_toggle-all__hide .source_hide {display: inline;}

/* /Code highlighting */

/* Togglers
-------------------------------------------------- */
.source_main_nav_ac_item {
	position: relative;
	line-height: 24px;
	}

.source_slider_frame {
	position: absolute;
	right: 0;
	top: 0;
	display: block;
	margin: 0 auto;
	width: 50px;
	height: 20px;
	background-color: rgb(246, 249, 251);
	-moz-border-radius: 4px;
	border-radius: 4px;
	-webkit-box-shadow: inset 0px 0px 4px 0 rgba(0, 0, 0, 0.25);
	-moz-box-shadow: inset 0px 0px 4px 0 rgba(0, 0, 0, 0.25);
	box-shadow: inset 0px 0px 4px 0 rgba(0, 0, 0, 0.25);
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	}

.source_slider_button {
	display: block;
	width: 30px;
	height: 20px;
	line-height: 20px;
	background: #EDF2F7;
	-moz-border-radius: 4px;
	border-radius: 4px;
	-webkit-transition: all 0.25s ease-in-out;
	-moz-transition: all 0.25s ease-in-out;
	transition: all 0.25s ease-in-out;
	color: #000;
	font-family: sans-serif;
	font-size: 9px;
	text-align: center;
	cursor: pointer;
	-webkit-box-shadow: inset 0px 0px 4px 0 rgba(0, 0, 0, 0.25);
	-moz-box-shadow: inset 0px 0px 4px 0 rgba(0, 0, 0, 0.25);
	box-shadow: inset 0px 0px 4px 0 rgba(0, 0, 0, 0.25);
	}

.source_slider_frame__on .source_slider_button {
	margin-left: 20px;
	background: #EDF2F7;
	}

.source_main_nav_ac_tx { font-weight: bold; }

.source_slider_frame .source_slider_text_on { display: none; }

.source_slider_frame__on .source_slider_text_off { display: none; }

.source_slider_frame__on .source_slider_text_on { display: block; }

.source_slider_frame__on .source_slider_button {
	background: #73c051;
	color: #fff;
	}
/* /Togglers */

/* TODO: remove plugin css from core */
.source_bubble {
	position: absolute;
	top: 5px; right: 5px;
	width: 26px;
	height: 20px;
	margin-left: 5px;

	line-height: 14px;
	text-align: center;
	background: url(../i/bubble.png);
	color: #333;
	font-size: 11px;
	text-decoration: none !important;
	}

/* Search
-------------------------------------------------- */

.source_search {
	display: inline-block;
	*display: inline;
	*zoom: 1;
	overflow: hidden;
	height: 28px;
	width: 100%;

	border: 1px solid #444;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	vertical-align: top;
	}

	.source_search.__light {
		border-color: #ccc;
		}

	.source_search.__light .source_search_it {
		background-color: #FFF;
		}

.source_search_it {
	padding: 6px 8px;
	padding-left: 28px;
	height: 30px;
	margin: -1px 0 0 -1px;
	width: 101%;

	border: 0 none;
	line-height: 15px;
	font-size: 14px;
	background: #000 url(../i/search.png) no-repeat 8px 50%;

	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
    color: #999;
	}
	.source_search_it:focus {
		background-color: #fff;
		color: #333;
		}

/* Auto complete plugin */

.autocomplete-suggestions {
	border: 1px solid #ccc;
	background: #FFF;
	overflow: auto;

	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;

	-moz-border-radius: 4px;
	border-radius: 4px;

	margin-top: 1px;
	}

.autocomplete-suggestion {
	padding: 4px 8px;
	padding-left: 28px;

	white-space: nowrap;
	overflow: hidden;
	max-width: 100%;

	text-overflow: ellipsis;
	cursor: pointer;
	}

.autocomplete-selected {
	background: #f1f2f3;
	}
	.autocomplete-selected:before {
		content: "►";
		color: #999;
		position: absolute;
		left: 8px;
		}

	.autocomplete-suggestions strong {
		font-weight: normal;
		text-shadow: 0 0 1px #f1f2f3;
		color: #00A0FE;
		}

	.autocomplete-suggestions span {
		color: #999;
		}

/* / Auto complete plugin */

/* /Search */


/* /Project
---------------------------------------------------------------------------------- */