<!--Custom users footer, overriding core footer -->

<footer class="source_footer">
    <div class="source_col-main">
        <div class="source_col">
            <h2>Sorcerers</h2>
            <ul class="source_ul">
                <li><a class="source_a_l" href="http://twitter.com/operatino_en">Robert Haritonov</a></li>
                <li><a class="source_a_l" href="mailto:eugeny.horoshilov@odnoklassniki.ru">Eugeny Khoroshilov</a></li>
                <li><a class="source_a_l" href="http://twitter.com/lapynow">Dmitry Lapynow</a></li>
                <li><a class="source_a_l" href="http://twitter.com/from_anywhere">Ivan Metelev</a></li>
                <li><a class="source_a_l" href="mailto:den@przendzinski.com">Dennis Przendzinski</a></li>
                <li><a class="source_a_l" href="http://twitter.com/ostroffsky">Alexey Ostrovsky</a></li>

                <li><a class="source_a_l" href="mailto:juris.pukitis@odnoklassniki.ru">Juris Pukitis</a></li>
                <li><a class="source_a_l" href="http://twitter.com/korochinskiy">Anton Korochinsky</a></li>
            </ul>
        </div>
        <div class="source_col">
            <h2>Navigation</h2>
            <ul class="source_ul">
                <li><a class="source_a_l" href="/docs">Documentation</a></li>
                <li><a class="source_a_l" href="/docs/plugins">Plugins</a></li>
            </ul>
        </div>
        <div class="source_col">
            <h2>Useful links</h2>
            <ul class="source_ul">
                <li><a class="source_a_l" href="https://github.com/sourcejs/Source">Fork Source on Github</a></li>
                <li><a class="source_a_l" href="https://github.com/sourcejs/Sourcejs.com">Sourcejs.com sources</a></li>
            </ul>
        </div>
        <div class="source_col source_col__23">
            <div class="source_footer_copy">
                Developed and maintained by <a href="http://corp.mail.ru/en/communications/odnoklassniki" class="source_a_l">Odnoklassniki</a> front-end team.<br>

                Copyright © 2013 <a href="http://sourcejs.com" class="source_a_l">Sourcejs.com</a>.
            </div>
        </div>
    </div>
</footer>