<!-- Core footer, just for example, use /public/assets/templates/footer.inc.html -->

<footer class="source_footer">
    <div class="source_col-main">
        <div class="source_col">
            <h2>Catalog</h2>
            <ul class="source_ul">
	            <li><a class="source_a_l" href="#777">Your link</a></li>
            </ul>
        </div>
        <div class="source_col source_col__23">
            <div class="source_footer_copy">
                Copyright © 2014 <a href="http://sourcejs.com" class="source_a_l">Sourcejs.com</a>.
            </div>
        </div>
    </div>
</footer>