<!-- Core footer, just for example, use /public/assets/templates/footer.inc.html -->

<footer class="source_footer">
    <div class="source_col-main">
        <!-- Example markup -->
        <!--<div class="source_col">-->
            <!--<h2>Catalog</h2>-->
            <!--<ul class="source_ul">-->
                <!--<li><a class="source_a_l" href="#777">Your link</a></li>-->
            <!--</ul>-->
        <!--</div>-->
        <div class="source_footer_copy">
            Copyright © 2013-2015 <a href="http://sourcejs.com" class="source_a_l">Sourcejs.com</a> <span class="source_footer_version">(v.<%- engineVersion %>)</span>
        </div>
    </div>
</footer>
