<!-- Core header, just for example, use /public/assets/templates/header.inc.html -->

<header class="source_header">

    <div class="source_col-main">
        <div class="source_col __14 __right">
            <div class="source_search">
                <input class="source_search_it" id="livesearch" type="text" placeholder="Go to page"/>
            </div>
        </div>

        <div class="source_col source_col__23">
            <a class="source_logo" href="/">SourceJS</a>

            <nav class="source_header_nav">
                <ul class="source_header_nav_lst">
                    <!-- Example markup -->
                    <!--<li class="source_header_nav_i"><a class="source_a_l" href="#777">Link</a></li>-->
                </ul>
            </nav>

            <a class="js-hook source_login"></a>
        </div>
    </div>
</header>
