/*
*
* Here you can add your site (project) CSS files @import for use with spec pages examples
*
* ! Don't forget to duplicate project body styles on .source_example !
*
*/


/* Example project file, just for demo for Spec page documentation */
@import 'bootstrap.css';

/*
*
* Repeat your project body styles to .source_example
*
*/
.source_example {
	/* Duplicated Bootstrap body styles */
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 14px;
	line-height: 1.428571429;
	color: #333333;
	background-color: #ffffff;
	}

/* Resetting bootstrap madness */
*, *:before, *:after {
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    }

/* You can make symlinks for project CSS files to your Source server, or just write absolute path to other directory */
/* like @import url('/res/css/all-web.css'); */