extends mob

block content
    span.clarify-head
        img.clarify-logo(src='/img/cross.png', width='15', height='15', alt='Clarified specification')
        span Clarified specification
        a(href=body.homeLink) Назад
        content
            !=body.spec
        br
        hr
        footer
            p Информация и полезные ссылки
            span Cпецификация: #{body.specId}/#{body.specLength} шт.
            br
            form(method='get')
                input(type='hidden', name='see5', value='mob')
                input(type='text',placeholder='номер спеки' , name='id', value='')
                input(type='submit', value='Дать мне маленький кусочек')
            br
            a(href=body.homeLink) Назад на большую спеку
