/* Highlights
---------------------------------------------------------------------------------- */

/* TODO: optimize those kind of selectors range with preprocessor */
.source_hl,

.source_main > code:not(:empty),
.source_main > *:not(.source_example) > code:not(:empty),
.source_main > *:not(.source_example) > *:not(.source_example) > code:not(:empty),

.source_section > code:not(:empty),
.source_section > *:not(.source_example) > code:not(:empty),
.source_section > *:not(.source_example) > *:not(.source_example) > code:not(:empty) {
	background: #ceeeff;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 1em;
	padding: 1px 3px;

	-moz-border-radius: 3px;
	border-radius: 3px;

	border: none;
	white-space: normal;
	color: #333;
	}

/* /Highlights
---------------------------------------------------------------------------------- */