<div class="source_section">
    <h2>Section header</h2>

    <div class="source_example">HTML example 1</div>

    <h3 id="custom-sub-id">Section sub-header</h3>

    <div class="source_example">HTML example 1.1</div>

    <h4>Section sub-sub-header</h4>

    <div class="source_example">HTML example 1.1.1</div>

    <h3>Section sub-header</h3>

    <div class="source_example">HTML example 1.2</div>
</div>

<div class="source_section" id="custom-section">
    <h2 id="custom-section-false">Section header</h2>

    <div class="source_example">
        <h1>Example header</h1>
        <h2>Example header</h2>
        <h3>Example header</h3>
        <h4>Example header</h4>
    </div>

    <h3>Section sub-header</h3>

    <div class="source_example">HTML example 1.1</div>

    <h4 id="custom-h4">Section sub-sub-header</h4>

    <div class="source_example">HTML example 1.1.1</div>
    <div class="source_example">HTML example 1.1.1</div>

    <h3>Section sub-header</h3>

    <div class="source_example">HTML example 1.2</div>
</div>